@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Manrope", sans-serif;
  
  --color-primary: #b22200;
  --color-primary-container: #ff785a;
  --color-background: #f9f6f5;
  --color-surface: #eae7e7;
  --color-on-surface: #2f2e2e;
  --color-on-surface-variant: #5c5b5b;
  --color-secondary: #0052ce;
  --color-tertiary: #755700;
  --color-tertiary-fixed: #fdc003;
  --color-inverse-surface: #0e0e0e;
  --color-outline-variant: #afacac;
}

@layer base {
  body {
    @apply bg-background font-body text-on-surface selection:bg-primary selection:text-white;
  }
}

@layer utilities {
  .editorial-text {
    line-height: 0.85;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .ticket-cutout {
    mask-image: radial-gradient(circle at 0px 50%, transparent 12px, black 12px),
                radial-gradient(circle at 100% 50%, transparent 12px, black 12px);
    mask-composite: intersect;
  }
  
  .ticket-divider {
    background-image: linear-gradient(to bottom, currentColor 50%, rgba(255,255,255,0) 0%);
    background-position: center;
    background-size: 1.5px 8px;
    background-repeat: repeat-y;
  }
}
